@model PBLCopos.Models.Bebedouro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bebedouro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estoque.EstoqueId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estoque.EstoqueId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localizacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusCopo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusCopo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BebedouroId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
